
.card{
width: 90%;
height: 20rem;
    margin: 1rem auto;
   

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px 4px 17px 5px rgba(17,4,122,0.23); 
    box-shadow: 0px 10px 13px -7px #000000, 2px 4px 17px 5px rgba(17,4,122,0.23);
    display: flex;

}
.menu>*{
    margin-inline: auto;

}
.menu a{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;

}
.menu a:hover{
    color: blue;
    
}
.tttt{
    font-size: 1rem;
    font-weight: 600;
    
}
.card .content h1 {font-size: 2rem;
    text-transform: uppercase;
text-align: center;}

 .card img{
    width: 30%;
    
   margin: 1rem 2rem ;
    border-radius: 1rem;
    box-shadow:  0px 0px 14px 1px #80808091;
    
}
.card .content{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 50vw;
    border-left: 1px solid #000;
}
.card .info{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    margin: .3rem ;

}
.card .info  h3{color: #1d9c3b !important;}
.card .content h1,.card .content h2,.card .content h3{
    padding: 0;
    margin-left: .2rem;
   
}
.card .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    border-left: 1px solid #000;


}