.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    

}
.info_general {
    width: 100%;
    height: 17rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
  background-color: #000;  

}
 .info_general img{
    width: 30%;
    
    margin: 1rem 2rem ;
     border-radius: 1rem;
     box-shadow:  0px 0px 14px 1px #80808091;
}
.info_details{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 70vw;
    border-left: 1px solid #000;
    background-color: blue;
}
.info_photo{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}
.info_promo{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 149);

}
.info_description{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 157);
}
.info_commentaire{
    width: 100%;
    height: 20rem;
    display: flex;
    
    background-color: rgb(255, 0, 157);}